.chart {
    flex: 4;
    -webkit-box-shadow: 6px 7px 15px 5px rgba(0,0,0,0.23); 
    box-shadow: 6px 7px 15px 5px rgba(0,0,0,0.23);
    padding: 10px;
    color: gray;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(226, 226, 226);
    }
}